# Python
*.so
__pycache__/
*.py[cod]
*$py.class
.Python
env/
develop-eggs/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# IntelliJ
.idea/

# pyenv
/.python-version

# template
/template/node_modules/
*/*-cache/
dist
/template/jspm_packages/
