language: python
dist: trusty
python:
    - "3.6"
node_js:
    - "node"
before_install:
    - sudo apt-get update -y
    - sudo apt-get install -y
        curl
        npm
    - wget https://github.com/spf13/hugo/releases/download/v0.17/hugo_0.17-64bit.deb
    - sudo dpkg -i hugo_0.17-64bit.deb
    - sudo apt-get install nodejs
    - sudo apt-get install npm
install: "pip install -r requirements.txt"
script: /bin/bash deploy.sh
