{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <div class="uk-panel uk-panel-box uk-text-center">
                <h1>{{ .Params.genename }}</h1>
            </div>
        </div>
    </div>

    <hr class="uk-grid-divider">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <dl class="uk-description-list-horizontal">
                <dt>Name</dt>
                <dd>{{ .Params.genename }}</dd>
                <dt>Locus</dt>
                <dd>{{ .Params.locus }}</dd>
                <dt>Uniprot Accession</dt>
                <dd>{{ .Params.uniprot }}</dd>
                <dt>Strain</dt>
                <dd><i>Salmonella enterica {{ .Params.strain }}</i></dd>
            </dl>
        </div>
        <div class="uk-width-medium-1-2">

        </div>
    </div>


    <hr class="uk-grid-divider">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <h2>Interactions</h2>
            <div id="interactiontablediv" style="width:100%;"></div>
            <script>
                interactiontable = webix.ui({
                    container:"interactiontablediv",
        			rows: [
                    {
                        id: "interactiontable",
                        view: "datatable",
                        css: "salmonet_table",
                        columns: [
                            {id: "data0", header: ["Interactor", {content: "textFilter"}], css: "rank", width: 100},
                            {id: "data1", header: ["Interactor", {content: "textFilter"}], width: 100},
                            {id: "data2", header: "Source <a style='color: #1F2421 !important;' href='#legend' class='uk-icon-justify uk-icon-question-circle'></a>", fillspace:true},
                            {id: "data3", header: ["Layer", {content: "selectFilter"}], width: 200},
                            {id: "data4", hidden:true},
                            {id: "data5", hidden:true},
                            {id: "data6", hidden:true},
                            {id: "data7", hidden:true},
                            {id: "data8", hidden:true},
                            {id: "data9", hidden:true},
                            {id: "data10", hidden:true},
                            {id: "data11", hidden:true}
                        ],
                        height: 500,
                        autowidth: true,

                        datatype: "csv",
                        data: '{{ .Params.interactioncsv | safeHTML }}'
                    },
                    {
    					view: "form",
    					css: "toolbar",
    					paddingY: 5,
    					paddingX: 10,
    					cols:[
    						{
    							view: "button", label: "Download table", width: 200, click:function(){
    								webix.toExcel($$("interactiontable"), {
                                        filename: "SalmoNet_{{ .Params.uniprot }}",
                                        name: "{{ .Params.genename }}",
                                        columns:{
                                            "data0":{header: "node_a_name"},
                                            "data1":{header: "node_b_name"},
                                            "data2":{header: "source"},
                                            "data3":{header: "layer"},
                                            "data4":{header: "node_a_locus"},
                                            "data5":{header: "node_b_locus"},
                                            "data6":{header: "node_a_uniprot"},
                                            "data7":{header: "node_b_uniprot"},
                                            "data8":{header: "node_a_ortholog_group"},
                                            "data9":{header: "node_b_ortholog_group"},
                                            "data10":{header: "node_a_strain"},
                                            "data11":{header: "node_b_strain"}
                                        }
                                    });
    							}
    						}
    					]
                    }]
                });
                $(window).resize(function() {
                    if ($(window).width() < 850){
                        $$('interactiontable').hideColumn("data2");
                        $$('interactiontable').setColumnWidth("data0", 80);
                        $$('interactiontable').setColumnWidth("data1", 80);
                        $$('interactiontable').setColumnWidth("data3", 100);
                    }
                    if ($(window).width() >= 850){
                        $$('interactiontable').showColumn("data2");
                        $$('interactiontable').setColumnWidth("data0", 100);
                        $$('interactiontable').setColumnWidth("data1", 100);
                        $$('interactiontable').setColumnWidth("data3", 150);
                    }
                });
                if ($(window).width() < 850){
                    $$('interactiontable').hideColumn("data2");
                    $$('interactiontable').setColumnWidth("data0", 80);
                    $$('interactiontable').setColumnWidth("data1", 80);
                };
            </script>
        </div>
        <div class="uk-width-medium-1-2">
            <h2>&nbsp;</h2>
            <div id="interactionnetworkdiv" style="height: 550px;"></div>
            <script>
                var cy = cytoscape({
                    container: $('#interactionnetworkdiv'),
                    elements: {{ .Params.networkjson | safeJS }},
                    userZoomingEnabled: false,
                    layout: {
                        name: 'cose-bilkent'
                    },
                    style: [
                      {
                        selector: 'node',
                        style: {
                          'background-color': '#666',
                          'label': 'data(id)'
                        }
                      },

                      {
                        selector: 'edge',
                        style: {
                          'width': 3,
                          'line-color': '#ccc',
                          'target-arrow-color': '#ccc',
                          'target-arrow-shape': 'triangle'
                        }
                      }
                    ]
                });
                cy.fit();
            </script>
        </div>
    </div>
    <hr class="uk-grid-divider">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <h2>Orthologs of {{ .Params.genename }}</h2>
            <dl class="uk-description-list-horizontal">
                {{ range $ortholog := .Params.orthologs }}
                <dt><a href="/protein/{{ $ortholog.uniprot }}.html">{{ $ortholog.uniprot }}</a></dt>
                <dd><i>Salmonella enterica {{ $ortholog.stain }}</i></dd>
                {{ end }}
            </dl>
        </div>
    </div>

    <hr class="uk-grid-divider">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a name="legend"></a>
            <h2>Legend for interactions table</h2>
            <h3>Metabolic layer</h3>
            <dl class="uk-description-list-horizontal">
                <dt>Nodes</dt>
                <dd>Enzymes of the metabolic reaction</dd>
                <dt>Links</dt>
                <dd>Two nodes are linked if the rections they catalyse have a common substrate and/or product.</dd>
                <dt>Source</dt>
                <dd>
                    <table class="uk-table">
                        <tbody>
                        <tr>
                            <td>BioModels</td>
                            <td>The links were obtained from the EC numbers of https://www.ebi.ac.uk/biomodels-main/
                            </td>
                        </tr>
                        <tr>
                            <td>STM</td>
                            <td>Orthologous enzymes from a validated mathematical model of S. Typhymurium LT2
                                (PMID:21244678)
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <h3>Regulatory layer</h3>
            <dl class="uk-description-list-horizontal">
                <dt>Nodes</dt>
                <dd>TF (Transcription Factors)<br>TG (Target genes)</dd>
                <dt>Links</dt>
                <dd>Regulatory links represent binding of transcription factors to gene promoters (undirected links)
                </dd>
                <dt>Source</dt>
                <dd>
                    <table class="uk-table">
                        <tbody>
                        <tr>
                            <td>Ecoli</td>
                            <td>The links were obtained by alignement of the promoter regions to binding sites of
                                orthologous genes from E. coli as described in <a href="http://regulondb.ccg.unam.mx/" target="_blank">RegulonDB</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Salm</td>
                            <td>The links were obtained using Position Specific Scoring Matrices (PSSMs) from binding
                                sites
                                of Salmonellae found in the literature
                            </td>
                        </tr>
                        <tr>
                            <td>Exp(LT)</td>
                            <td>The links were determined experimentally by low-throughput experiments (PMID indicates
                                the
                                pubmed reference)
                            </td>
                        </tr>
                        <tr>
                            <td>EXP(HT)</td>
                            <td>The links were determined experimentally by high-throughput experiments (PMID indicates
                                the
                                pubmed reference)
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>

            <h3>PPI layer</h3>
            <dl class="uk-description-list-horizontal">
                <dt>Nodes</dt>
                <dd>Proteins</dd>
                <dt>Links</dt>
                <dd>Orthologous proteins of E. coli which bind together</dd>
                <dt>Source</dt>
                <dd>
                    <table class="uk-table">
                        <tbody>
                        <tr>
                            <td>Lit_Ecoli</td>
                            <td>The links were derived from a <a href="https://www.ncbi.nlm.nih.gov/pubmed/24561554" target="_blank">publication (PMID:24561554)</a>
                            </td>
                        </tr>
                        <tr>
                            <td>IntAct</td>
                            <td>The links were derived from the <a href="http://www.ebi.ac.uk/intact/" target="_blank">Intact</a> database
                            </td>
                        </tr>
                        <tr>
                            <td>Biogrid</td>
                            <td>The links were derived from the <a href="http://thebiogrid.org/" target="_blank">Biogrid</a> database
                            </td>
                        </tr>
                        <tr>
                            <td>Interactome3d</td>
                            <td>The links were derived from the <a href="http://interactome3d.irbbarcelona.org/)" target="_blank">Interactome3D</a> database
                            </td>
                        </tr>
                        <tr>
                            <td>Exp</td>
                            <td>The binding interactions were determined experimentally (PMID indicates the pubmed
                                reference)
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>

    </div>
</div>

{{ partial "offcanvas.html" . }}

{{ partial "analytics.html" . }}
</body>
</html>
