.net-top-navbar {
  margin-bottom: 0px;
  background: #9CC5A1;
}
.statistc-list.uk-description-list-horizontal>dt {
    width: 200px;
}

.browse_row_hover{
  background: #9CC5A1;
}
.salmonet_table {
    color: #1F2421 !important;
}
.salmonet_table .webix_hcell{
    background:#9CC5A1;
    color: #1F2421;
    font-weight:bold;
    border-color:#216869;
}
.salmonet_table .webix_column{
    background:#DCE1DE;
    color: #1F2421;
    border-color:#216869;
}
.salmonet_table .webix_ss_header td {
    border-color:#216869;

}


.salmonet_table .webix_column > div{
    border-color:#216869;
}

.salmonet_form .webix_view.webix_form {
    background-color: #000;
}

.webix_pager_item {
    background-color: #9CC5A1 !important;
    border-color: #216869 !important;
}

.webix_pager_item:hover {
    background-color: #216869 !important;
    border-color: #216869 !important;
}

.webixbutton {
    background: #9CC5A1 !important;
    border: #216869 !important;
}

.webixbutton:hover {
    background-color: #9CC5A1 !important;
    border-color: #9CC5A1 !important;
}

.uk-button-primary:hover {
    background-color: #216869 !important;
    color: #DCE1DE;
}

.uk-panel-box {
    padding: 15px;
    background: #9CC5A1 !important;
}

.webix_view {
    color: #1F2421 !important;
}

.webix_form {
    background-color: #9CC5A1 !important;
}

.webix_el_select select {
    background: #DCE1DE !important;
}

.webix_dtable .webix_ss_filter input{
    background: #DCE1DE !important;
}

.webix_view button {
    background-color: #216869 !important;
    border-color: #216869 !important;
}

.download_link {
    color: #1F2421 !important;
}

.webix_inp_label {
    color: #1F2421 !important;
}

.protein_link .webix_cell {
    cursor: pointer !important;
}

.webix_view {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.webix_ss_vscroll_header {
    background: #dce1de;
}
