.net-top-navbar {
  margin-bottom: 0px;
  background: #9CC5A1;
}
.statistc-list.uk-description-list-horizontal>dt {
    width: 200px;
}

.browse_row_hover{
  background: #9CC5A1;
}
.salmonet_table {
    color: #1F2421 !important;
}
.salmonet_table .webix_hcell{
    background:#9CC5A1;
    color: #1F2421;
    font-weight:bold;
    border-color:#216869;
}
.salmonet_table .webix_column{
    background:#DCE1DE;
    color: #1F2421;
    border-color:#216869;
}
.salmonet_table .webix_ss_header td {
    border-color:#216869;

}


.salmonet_table .webix_column > div{
    border-color:#216869;
}

.salmonet_form .webix_view.webix_form {
    background-color: #000;
}

.webix_pager_item {
    background-color: #9CC5A1 !important;
    border-color: #216869 !important;
}

.webix_pager_item:hover {
    background-color: #216869 !important;
    border-color: #216869 !important;
}

.webixbutton {
    background: #9CC5A1 !important;
    border: #216869 !important;
}

.webixbutton:hover {
    background-color: #9CC5A1 !important;
    border-color: #9CC5A1 !important;
}

.uk-button-primary:hover {
    background-color: #216869 !important;
    color: #DCE1DE;
}

.uk-panel-box {
    padding: 15px;
    background: #9CC5A1 !important;
}

.webix_view {
    color: #1F2421 !important;
}

.webix_form {
    background-color: #9CC5A1 !important;
}

.webix_el_select select {
    background: #DCE1DE !important;
}

.webix_dtable .webix_ss_filter input{
    background: #DCE1DE !important;
}

.webix_view button {
    background-color: #216869 !important;
    border-color: #216869 !important;
}

.download_link {
    color: #1F2421 !important;
}

.webix_inp_label {
    color: #1F2421 !important;
}

.protein_link .webix_cell {
    cursor: pointer !important;
}

.webix_view {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.webix_ss_vscroll_header {
    background: #9CC5A1 !important;
    border-color: #216869 !important;
}

.webix_ss_center_scroll {
    background: #DCE1DE !important;
}

#interactionnetworkdiv {
    background: #dce1de !important;
    border-color: #9cc5a1 !important;
    border-style: solid;
    border-width: 1px;
}

/* ========================================================================
   Component: Modal
 ========================================================================== */
/*
 * This is the modal overlay and modal dialog container
 * 1. Hide by default
 * 2. Set fixed position
 * 3. Allow scrolling for the modal dialog
 * 4. Mask the background page
 * 5. Fade-in transition
 * 6. Deactivate browser history navigation in IE11
 * 7. force hardware acceleration to prevent browser rendering hiccups
 */
.uk-modal {
  /* 1 */
  display: none;
  /* 2 */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  /* 3 */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* 4 */
  background: rgba(0, 0, 0, 0.6);
  /* 5 */
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  /* 6 */
  touch-action: cross-slide-y pinch-zoom double-tap-zoom;
  /* 7 */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
/*
 * Open state
 */
.uk-modal.uk-open {
  opacity: 1;
}
/*
 * Prevents duplicated scrollbar caused by 4.
 */
.uk-modal-page,
.uk-modal-page body {
  overflow: hidden;
}
/* Sub-object: `uk-modal-dialog`
 ========================================================================== */
/*
 * 1. Create position context for caption, spinner and close button
 * 2. Set box sizing
 * 3. Set style
 * 4. Slide-in transition
 */
.uk-modal-dialog {
  /* 1 */
  position: relative;
  /* 2 */
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  width: 600px;
  max-width: 100%;
  max-width: calc(100% - 20px);
  /* 3 */
  background: #fff;
  /* 4 */
  opacity: 0;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s linear, transform 0.3s ease-out;
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
  /*
     * Fit in small screen
     */
  .uk-modal-dialog {
    width: auto;
    margin: 10px auto;
  }
}
/*
 * Open state
 */
.uk-open .uk-modal-dialog {
  /* 4 */
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/*
 * Remove margin from the last-child
 */
.uk-modal-dialog > :not([class*='uk-modal-']):last-child {
  margin-bottom: 0;
}
/* Close in modal
 ========================================================================== */
.uk-modal-dialog > .uk-close:first-child {
  margin: -10px -10px 0 0;
  float: right;
}
/*
 * Remove margin from adjacent element
 */
.uk-modal-dialog > .uk-close:first-child + :not([class*='uk-modal-']) {
  margin-top: 0;
}
/* Modifier: `uk-modal-dialog-lightbox`
 ========================================================================== */
.uk-modal-dialog-lightbox {
  margin: 15px auto;
  padding: 0;
  max-width: 95%;
  max-width: calc(100% - 30px);
  min-height: 50px;
}
/*
 * Close button
 */
.uk-modal-dialog-lightbox > .uk-close:first-child {
  position: absolute;
  top: -12px;
  right: -12px;
  margin: 0;
  float: none;
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
  .uk-modal-dialog-lightbox > .uk-close:first-child {
    top: -7px;
    right: -7px;
  }
}
/* Modifier: `uk-modal-dialog-blank`
 ========================================================================== */
.uk-modal-dialog-blank {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/*
* Close button
*/
.uk-modal-dialog-blank > .uk-close:first-child {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  margin: 0;
  float: none;
}
/* Modifier: `uk-modal-dialog-large`
 ========================================================================== */
/* Tablet and bigger */
@media (min-width: 768px) {
  .uk-modal-dialog-large {
    width: 930px;
  }
}
/* Large screen and bigger */
@media (min-width: 1220px) {
  .uk-modal-dialog-large {
    width: 1130px;
  }
}
/* Sub-Object: `uk-modal-header` and `uk-modal-footer`
 ========================================================================== */
.uk-modal-header {
  margin-bottom: 15px;
}
.uk-modal-footer {
  margin-top: 15px;
}
/*
 * Remove margin from the last-child
 */
.uk-modal-header > :last-child,
.uk-modal-footer > :last-child {
  margin-bottom: 0;
}
/* Sub-Object: `uk-modal-caption`
 ========================================================================== */
.uk-modal-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin-bottom: -10px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Sub-Object: `uk-modal-spinner`
 ========================================================================== */
.uk-modal-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #ddd;
}
.uk-modal-spinner:after {
  content: "\f110";
  display: block;
  font-family: FontAwesome;
  -webkit-animation: uk-rotate 2s infinite linear;
  animation: uk-rotate 2s infinite linear;
}
