.net-top-navbar {
  margin-bottom: 20px;
  background: #9CC5A1;
}

.browse_row_hover{
  background: #9CC5A1;
}
.salmonet_table .webix_hcell{
    background:#9CC5A1;
    color: #1F2421;
    font-weight:bold;
    border-color:#216869;
}
.salmonet_table .webix_column{
    background:#DCE1DE;
    color: #1F2421;
    border-color:#216869;
}
.salmonet_table .webix_ss_header td {
    border-color:#216869;

}


.salmonet_table .webix_column > div{
    border-color:#216869;
}

.salmonet_form .webix_view.webix_form {
    background-color: #000;
}