{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">

            <div id="strain_select_div"></div>
            <div id="paging_here"></div>
            <div id="browsetable" style="height:200px;"></div>

        </div>
    </div>


</div>

{{ partial "offcanvas.html" . }}

{{ partial "analytics.html" . }}
</body>
</html>