{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
       <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <div class="uk-panel uk-panel-box uk-text-center">
                <h1>Browse</h1>
            </div>
        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-medium-1-1">
            <div id="strain_select_div"></div>
        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-medium-1-1">
            <div id="paging_here"></div>
            <div id="browsetable"></div>
        </div>
    </div>


</div>

{{ partial "offcanvas.html" . }}

{{ partial "analytics.html" . }}
</body>
</html>