{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <div class="uk-panel uk-panel-box uk-text-center">
                <h1>Tutorial</h1>
            </div>

            <div class="uk-panel uk-panel-box uk-text-center">
                <h2>SalmoNet workflows and tutorials</h2>
                <p style="text-align: justify; margin-left: 7.5%;margin-right: 7.5%;">SalmoNet is a molecular interaction database focussing on mapping the intracellular interactions of Salmonella strains. It hosts the integrated networks of 20 Salmonella strains, containing protein-protein interaction, transcriptional regulatory, and enzyme-enzyme interactions. More information is available in our recent manuscript.</p>
                <p style="text-align: justify; margin-left: 7.5%;margin-right: 7.5%;">The interactions can be queried through the NDEx platform or can be downloaded through the website.</p>
            </div>

            <div class="uk-panel uk-panel-box uk-text-center">
                <h2>SalmoNet tutorials and workflows</h2>
                <p style="text-align: justify; margin-left: 7.5%;margin-right: 7.5%;">This is a collection of tutorials, guides and workflows, which aim to help the users carry out their own analyses using Salmonella interaction information.</p>
                <p style="text-align: justify; margin-left: 7.5%;margin-right: 7.5%;"><a href="/tutorial/part1.html" target="_blank">Browsing and analysing SalmoNet 2 data in Cytoscape</a></p>
                <p style="text-align: justify; margin-left: 7.5%;margin-right: 7.5%;"><a href="/tutorial/part2.html" target="_blank">Network rewiring on SalmoNet 2 data in Cytoscape</a></p>
                <p style="text-align: justify; margin-left: 7.5%;margin-right: 7.5%;">Github link (soon)</p>
                <p style="text-align: center;"><img width="500" src="/img/salmonet_tutorial_main_image.png" alt=""></p>
            </div>
            <!-- <object data="/img/tutorial1.pdf" type="application/pdf" style="min-height:100vh;width:100%"></object>
            <object data="/img/tutorial2.pdf" type="application/pdf" style="min-height:100vh;width:100%"></object> -->
        </div>
    </div>
</div>

{{ partial "offcanvas.html" . }}

{{ partial "analytics.html" . }}
</body>
</html>