{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="uk-container uk-container-center uk-margin-large-bottom">

    <div class="uk-grid">
        <div class="uk-width-medium-1-1">

            <div class="uk-vertical-align uk-text-center" style="height: 450px; background-image: url('/img/head.png'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
                <div class="uk-vertical-align-middle uk-width-1-2" style="background: rgba(255, 255, 255, 0.7);">
                    <h1 class="uk-heading-large">SalmoNet 2.0</h1>
                    <p class="uk-text-large">
                        An integrated multi-layered network of <i>Salmonella</i>
                    </p>
                    <p>
                        <a class="uk-button uk-button-primary uk-button-large"
                           href="{{ .Site.BaseURL }}browse/">Browse</a>
                        <a class="uk-button uk-button-large" href="{{ .Site.BaseURL }}download/">Download</a>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <hr class="uk-grid-divider" style="margin-top: 0px;">

    <div class="uk-grid">

        <div class="uk-width-medium-1-2">
            <h2>Features</h2>
            <ul class="uk-list uk-list-striped">
                <li>An integrated network resource containing regulatory, metabolic and protein-protein interactions
                </li>
                <li>For 20 <i>Salmonella</i> strains classified as gastro-intestinal or extra-intestinal pathogens</li>
                <li>An interaction resource with manually curated, high-throughput and predicted interactions</li>
                <li>Provides a strain specific and consensus networks</li>
                <li>Can be downloaded in a user-specified content and format</li>
            </ul>
        </div>

        <div class="uk-width-medium-1-2">
            <h2>Statistics</h2>
            <h3>Components</h3>
            <dl class="statistc-list uk-description-list-horizontal">
                <dt>Strains</dt>
                <dd style="text-align: right;">20</dd>
                <dt>Orthologous Genes</dt>
                <dd style="text-align: right;">3 016</dd>
                <dt>Orthologous Transcription factors</dt>
                <dd style="text-align: right;">231</dd>
                <dt>Orthologous Metabolic enzymes</dt>
                <dd style="text-align: right;">2 148</dd>
            </dl>
            <h3>Interactions</h3>
            <dl class="statistc-list uk-description-list-horizontal">
                <dt>Total interactions</dt>
                <dd style="text-align: right;">190 443</dd>
                <dt>Protein-protein interactions</dt>
                <dd style="text-align: right;">62 833</dd>
                <dt>Regulatory interactions</dt>
                <dd style="text-align: right;">65 448</dd>
                <dt>Metabolic interactions</dt>
                <dd style="text-align: right;">62 162</dd>
            </dl>
        </div>

    </div>

    <hr class="uk-grid-divider">

    <div class="uk-grid">

        <div class="uk-width-medium-1-2">
            <h2>Strains</h2>
            <ul class="uk-list uk-list-striped">
                <li>Salmonella agona (strain SL483)</li>
                <li>Salmonella arizonae (strain ATCC BAA-731 / CDC346-86 / RSK2980)</li>
                <li>Salmonella bongori (strain ATCC 43975 / DSM 13772 / NCTC 12419)</li>
                <li>Salmonella choleraesuis (strain SC-B67)</li>
                <li>Salmonella dublin (strain CT_02021853)</li>
                <li>Salmonella enteritidis PT4 (strain P125109)</li>
                <li>Salmonella gallinarum (strain 287/91 / NCTC 13346)</li>
                <li>Salmonella heidelberg (strain SL476)</li>
                <li>Salmonella newport (strain SL254)</li>
                <li>Salmonella paratyphi A (strain AKU_12601)</li>
                <li>Salmonella paratyphi A (strain ATCC 9150 / SARB42)</li>
                <li>Salmonella paratyphi B (strain ATCC BAA-1250 / SPB7)</li>
                <li>Salmonella paratyphi C (strain RKS4594)</li>
                <li>Salmonella schwarzengrund (strain CVM19633)</li>
                <li>Salmonella typhi</li>
                <li>Salmonella typhimurium (strain 14028s / SGSC 2262)</li>
                <li>Salmonella typhimurium (strain 4/74)</li>
                <li>Salmonella typhimurium (strain D23580)</li>
                <li>Salmonella typhimurium (strain LT2 / SGSC1412 / ATCC 700720)</li>
                <li>Salmonella typhimurium (strain SL1344)</li>
            </ul>
            <h2>Cite</h2>
            <div class="uk-panel uk-panel-box">
                <a name="cite"></a>
                <p><strong>SalmoNet, an integrated network of ten <i>Salmonella enterica</i> strains reveals common and distinct pathways to host adaptation.</strong> Métris A., Sudhakar P., Fazekas D., Demeter A., Ari E., Branchu P, Kingsley R.A., Baranyi J., Korcsmáros T.<br>npj Systems Biology and Applications 3, Article number: 31 (2017) <a href="https://dx.doi.org/10.1038/s41540-017-0034-z" target="_blank">doi:10.1038/s41540-017-0034-z</a></p>
                <p><strong>Multilayered Networks of SalmoNet2 Enable Strain Comparisons of the Salmonella Genus on a Molecular Level.</strong> Olbei M., Bohar B., Fazekas D., Madgwick M., Sudhakar P., Hautefort I., Métris A., Baranyi J., Kingsley R.A., Korcsmáros T.<br>mSystems e01493-21 (2022) <a href="https://journals.asm.org/doi/abs/10.1128/msystems.01493-21" target="_blank">doi:10.1128/msystems.01493-21</a></p>
            </div>
        </div>

        <div class="uk-width-medium-1-2">
            <h2>Contact</h2>

            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfPyu-UrvTPfcqJWmKw4lFQjYVNI-pSZ1uLHVyKVnt9VMoNrQ/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    </div>

    <hr class="uk-grid-divider">

    <div class="uk-grid">
        <div class="uk-width-medium-1-2 uk-text-center">
            <a href="http://www.earlham.ac.uk/" target="_blank"><img width="240" src="/img/earlham-institure-logo.png" alt=""></a>
        </div>
        <div class="uk-width-medium-1-2 uk-text-center">
            <a href="http://www.ifr.ac.uk/" target="_blank"><img width="240" src="/img/QI-logo-header.png" alt=""></a>
        </div>
    </div>
</div>


    {{ partial "offcanvas.html" . }}

    {{ partial "analytics.html" . }}
    </body>
    </html>
