@import "../../node_modules/uikit/dist/scss/uikit-variables.scss";
@import "theme_variables.scss";

.net-top-navbar {
  margin-bottom: 20px;
  background: $navbar-background;
}

.browse_row_hover{
  background: #35b3ee;
}